.result-card {
  background: #0d1724;
  border-radius: 16px;
  overflow: hidden;
  animation: fade-in 0.4s ease forwards;
}

.result-card__header {
  padding: 20px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #1a2535;
}

.result-card__sentiment{
  display: flex;
  align-items: center;
  gap: 10px;
}

.result-card__sentiment-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  animation: pulse-ring 2s ease-in-out infinite;
}

.result-card__sentiment-label {
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  font-weight: 700
}

.result-card__sentiment-confidence {
  font-size: 11px;
  font-family: 'DM Mono', monospace
}

.result-card__sentiment-summary {
  font-size: 13px;
  color: #5a7a9a;
  margin-top: 8px;
  font-style: italic;
}

.result-card__section {
  padding: 20px 24px;
  border-bottom: 1px solid #1a2535;
}

.result-card__title{
  font-size: 10px;
  color: #2a4060;
  font-family: 'DM Mono', monospace;
  letter-spacing: 2px;
  margin-bottom: 15px
}

.result-card__keywords {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.result-card__keyword {
  padding: 3px 12px;
  border-radius: 20px;
  font-size: 12px;
  font-family: 'DM Mono', monospace;
  letter-spacing: 1px
}

.result-card__section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.result-card__section-grid > * {
  padding: 20px 24px;
}
.result-card__section-grid > *:first-child {
  border-right: 1px solid #1a2535;
}



.result-card__bars-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.result-card__bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

.result-card__bar-label {
  font-size: 11px;
  color: #5a7a9a;
  font-family: 'DM Mono', monospace;
  letter-spacing: 1px;
}

.result-card__bar-value {
  font-size: 11px;
  font-family: 'DM Mono', monospace;
}

.result-card__bar-background {
  height: 4px;
  background: #1a2535;
  border-radius: 2px;
  overflow: hidden;
}

.result-card__bar-fill {
  height: 100%;
  border-radius: 2px;
  transition: width 0.8s cubic-bezier(.4,0,.2,1);
}